---
import { Image } from 'astro:assets';
import KnowledgeBar from './KnowledgeBar.astro';
import type { IconType } from 'react-icons';


interface Props {
	name: string,
	img: ImageMetadata,
	knowledgeLv: number,
	framesLibs: FrameLib[]
}

export interface FrameLib {
	name: string,
	icon: IconType
}

const { name, img, knowledgeLv, framesLibs } = Astro.props;
---


<div class='skill-card'>
	<div class='img-container'>
		<Image src={img} alt="" height={175} />
	</div>

	<h2>{name}</h2>

	<KnowledgeBar level={knowledgeLv}/>

	{
		framesLibs?.length == 0 ||
		<details>
			<summary>Frameworks & Libraries</summary>
			<div class='fl-container'>
				{
					framesLibs?.map((value) => 
						<div class='fl-item'>
							<value.icon />
							<span>{"<" + value?.name + "/>"}</span>
						</div>
					)
				}
			</div> 
		</details>
	}
</div>


<style>
	details {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: auto;
	}

	details > summary {
		position: relative;
		font-size: 1.1em;
		width: 100%;
		padding: 0.3em 0.6em;
		border-radius: 0.25em;
		background-color: white;
		color: black;
		cursor: pointer;
		padding-left: 35px;
	}

	details > summary::before {
		margin-left: 10px;
		content: '▼';
		position: absolute;
		left: 0;
		color: #000;
		transition: all 75ms ease 50ms;
		rotate: -90deg;
	}

	details[open] > summary::before {
		rotate: 0deg;
	}

	.fl-container {
		display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
		margin-top: 0.75em; 
		gap: 0.5em;
		transition: max-width 150ms ease-in-out, opacity 150ms ease-in-out;
	}

	details[open] > .fl-container {
		max-width: 100%;
		opacity: 1;

		@starting-style {
			max-width: 0;
			opacity: 0;
		}
	}

	.fl-item {
		display: flex;
		flex-direction: column;
		width: 100%;
		font-size: 1em;
        list-style: none;
		align-items: center;
        justify-content: center;
		text-align: center;
		padding: 0.25em;
		border-radius: 0.25em;
		background-color: white;
		color: black;
	}

	.fl-item > svg {
		font-size: 2.5em;
	}

	.fl-item > span {
		font-style: italic;
		font-size: 0.9em;
	}

	.skill-card {
		list-style: none;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		color: black;
		padding: 1em;
		background-color: transparent;
		border-style: solid;
		border-width: 2px;
		border-color: rgb(216, 216, 216);
		border-radius: 1em;
		gap: 1em;
		transition-property: box-shadow;
		transition-timing-function: ease-in;
		transition-duration: 75ms;
		transition-delay: 50ms;
	}

	.skill-card:hover {
		box-shadow: 8px 8px rgb(211, 211, 211);
	}

	.img-container {
		display: flex;
		background-color: white;
		align-items: center;
		justify-content: center;
		border-radius: 0.5em;
		padding: 0.5em;
	}
	
	.skill-card > h2 {
		display: flex;
		width: 100%;
		font-size: 2em;
		justify-content: center;
		text-align: center;
		color: white;
	}


	@media (min-width: 1024px) {
		.fl-container {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}
</style>